SCRAM-SHA-1(-PLUS) + SCRAM-SHA-256(-PLUS) supports

"When using the SASL SCRAM mechanism, the SCRAM-SHA-256-PLUS variant SHOULD be preferred over the SCRAM-SHA-256 variant, and SHA-256 variants [RFC7677] SHOULD be preferred over SHA-1 variants [RFC5802]".

Can you add support for?
- SCRAM-SHA-1(-PLUS):
-- https://tools.ietf.org/html/rfc5802
-- https://tools.ietf.org/html/rfc6120

- SCRAM-SHA-256(-PLUS):
-- https://tools.ietf.org/html/rfc7677 since 2015-11-02
-- https://tools.ietf.org/html/rfc8600 since 2019-06-21: https://mailarchive.ietf.org/arch/msg/ietf-announce/suJMmeMhuAOmGn_PJYgX5Vm8lNA

LDAP:
- RFC5803: Lightweight Directory Access Protocol (LDAP) Schema for Storing Salted: Challenge Response Authentication Mechanism (SCRAM) Secrets: https://tools.ietf.org/html/rfc5803

I add SCRAM-SHA-512(-PLUS): https://xmpp.org/extensions/inbox/hash-recommendations.html

Linked to:
- https://github.com/scram-xmpp/info/issues/1

@dhawes can our OpenLDAP docker image support this?


I've pushed an image that supports:

SCRAM-SHA-1
SCRAM-SHA-224
SCRAM-SHA-256
SCRAM-SHA-384
SCRAM-SHA-512

by using cyrus-sasl git master [1].

PLUS support will have to wait until Cyrus SASL supports it.

[1] https://github.com/cyrusimap/cyrus-sasl/issues/552

@dhawes: Please look:
https://github.com/cyrusimap/cyrus-sasl/commits/master
- Commits on Sep 2, 2019
- Commits on Sep 4, 2019

Thanks a lot to @aamelnikov and @ksmurchison too.

@dhawes: Have you looked for -PLUS variants, already in master?
- https://cyrusimap.org/sasl/sasl/authentication_mechanisms.html

I see a documentation update, but no commits. Can you reference a commit where this was added?

https://github.com/cyrusimap/cyrus-sasl/issues/552 is still open as well.

@dhawes: It was already done.
- https://github.com/cyrusimap/cyrus-sasl/search?utf8=%E2%9C%93&q=-PLUS&type=

If you have problem, please inform.

I have requested to the author (@aamelnikov).
- https://cyrusimap.org/sasl/sasl/authentication_mechanisms.html

And there was a problem of documentation, and some links are not good yet:
- https://github.com/cyrusimap/cyrus-sasl/issues/549

https://github.com/cyrusimap/cyrus-sasl/issues/552 claims that adding -PLUS will take a lot more work. I don't see that work in any commits. 

The search you link shows updates to support mech lists. It's unclear if those mechs are actually supported.

I tried the latest master to see if support exists, but I am unable to use any -PLUS variants. Have you attempted to use -PLUS with cyrus-sasl?

Added support for SCRAM in this PR:
https://github.com/vt-middleware/ldaptive/pull/160

@dfish3r: Thanks a lot :)

@dfish3r: Little question, what is missing for -PLUS variants?

As @dhawes mentioned, PLUS doesn't appear to be supported yet in cyrus-sasl. Since that is our testing platform we won't proceed with any development until those features are available.


v2 merged into master. Please test these mechanisms when you have a chance.

@dfish3r: Thanks for SCRAM-SHA-1/SCRAM-SHA-256/SCRAM-SHA-512.

Can I create a new ticket for -PLUS variants?

> Thanks for SCRAM-SHA-1/SCRAM-SHA-256/SCRAM-SHA-512.

Did you test these?

> Can I create a new ticket for -PLUS variants?

Sure.


Not really :/

dfish3r: Why not used BouncyCastle for TLS binding like Tigase?
- https://www.bouncycastle.org/
- https://docs.tigase.net/tigase-server/master-snapshot/Administration_Guide/webhelp/_bouncycastle_being_used_for_starttls.html

It will be awhile before I look at the -PLUS implementation. Please make comments on that issue.


@dfish3r: Have you seen the RFC9266?
- Channel Bindings for TLS 1.3: https://datatracker.ietf.org/doc/html/rfc9266

Linked to:
- https://github.com/vt-middleware/ldaptive/issues/220